<!DOCTYPE html>
<html>
    <head>
        <style>
            * {
                box-sizing: border-box;
            }
            .header, .footer {
                text-align: center;
                background-color: #000030;
                color: white;
                padding: 15px;
            }
            .column {
                float: left;
                padding: 15px;
            }
            .clearfix::after {
                content: "";
                clear: both;
                display: table;
            }
            .menu {
                width: 25%;
            }
            .content {
                width: 45%;
            }
            .menu ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            .menu li {
                padding: 8px;
                margin-bottom: 8px;
                background-color: #008CBA;
                color: #ffffff;
            }
            .menu li:hover {
                background-color: #0099cc;
            }

            nav {
                float: left;
                max-width: 200px;
                margin: 0;
                padding: 0em;
            }

            nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0px;
                width: 200px;
                background-color: #f1f1f1;
            }

            nav ul a {
                display: block;
                color: #000;
                padding: 40px 20px;
                text-decoration: none;
            }

            nav ul a:hover {
                background-color: #555;
                color: white;
                opacity: 35%;
            }

            .active{
                color: white;
                background-color: #FFCC00;
            }

            li{
                border-style:solid;
                border-width:1px

            }

            .nu{
                display: inline;

            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #404040;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .desc {
                padding: 15px;
                text-align: center;
            }

            table{
                width: 100%;
            }

            tr{
                height: 200%;
            }
        </style>
    </head>
    <body>

        <nav>
            <ul>
                <li><a class ="active" href="#">
                        <img src="url" alt="View1" style="width:width;height:height;">
                    </a></li>

                <li><a href="#">
                        <img src="url" alt="F1" style="width:width;height:height;">
                    </a></li>

                <li><a href="#">
                        <img src="url" alt="F2" style="width:width;height:height;">
                    </a></li>

                <li><a href="#">
                        <img src="url" alt="F3" style="width:width;height:height;">
                    </a></li>

                <li><a href="#">
                        <img src="url" alt="F4" style="width:width;height:height;">
                    </a></li>

            </ul>
        </nav>

        <div class="header">
            <h1>Crucible Match-Up</h1>
        </div>

        <div class="clearfix">
            <div class="column menu">
                <ul>

                    <li>
                        <div class="dropdown">
                            <img src="Url" alt="Login" width="85" height="50">
                            <div class="dropdown-content">
                                <form>
                                    Username:<br>
                                    <input type="text" name="username"><br>
                                    Password:<br>
                                    <input type="password" name="psw"><br><br>
                                    <input type="submit" value="Submit">
                                    <input type="reset">
                                </form>
                            </div>
                        </div>
                    </li>
                    <li>
                        <table>
                            <tr><th>Search</th></tr>
                            <tr>
                                <td>
                                    <div class="dropdown">
                                        <img src="Url" alt="Xbox" width="85" height="50">
                                        <div class="dropdown-content">
                                            <form>
                                                Gamertag:<br>
                                                <input type="text" name="username"><br><br>
                                                <input type="submit" value="Submit">
                                                <input type="reset">
                                            </form>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="dropdown">
                                        <img src="Url" alt="PSN" width="85" height="50">
                                        <div class="dropdown-content">
                                            <form>
                                                PSN id:<br>
                                                <input type="text" name="username"><br>
                                                <input type="submit" value="Submit">
                                                <input type="reset">
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </li>

                    <li><h2>Info</h2>
                        <p>All the Info</p></li>
                </ul>
            </div>

            <div class="clearfix">
                <div class="column content">

                    <table>

                        <tr>

                            <td><br></td>
                            <td>Teammate 1</td>
                            <td><br></td>

                        </tr>

                        <tr>

                            <td>User</td>
                            <td><img src="Url" alt="User" width="85" height="50"></td>
                            <td>Teammate 2</td>

                        </tr>

                        <tr>

                            <td><img src="Url" alt="User" width="85" height="50"></td>
                            <td>
                                Stats
                            </td>
                            <td><img src="Url" alt="User" width="85" height="50"></td>

                        </tr>

                        <tr>

                            <td>
                                Stats
                            </td>
                            <td><br></td>
                            <td>
                                Stats
                            </td>

                        </tr>

                        <tr>

                            <td><br></td>
                            <td>v.s.</td>
                            <td><br></td>

                        </tr>

                        <tr>

                            <td>
                                Stats
                            </td>
                            <td><br></td>
                            <td>
                                Stats
                            </td>

                        </tr>

                        <tr>

                            <td><img src="Url" alt="User" width="85" height="50"></td>
                            <td>
                                Stats
                            </td>
                            <td><img src="Url" alt="User" width="85" height="50"></td>

                        </tr>

                        <tr>

                            <td>Opponent 1</td>
                            <td><img src="Url" alt="User" width="85" height="50"></td>
                            <td>Opponent 2</td>

                        </tr>

                        <tr>

                            <td><br></td>
                            <td>Opponent 3</td>
                            <td><br></td>

                        </tr>

                    </table>

                </div>
            </div>

            <div class="footer">
                <p>Footer Text</p>
            </div>

    </body>
</html>

