<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>
 
<table>
  <tr>
    <th>Gamertag</th>
    <th>PSN_id</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.gamertag %></td>
      <td><%= article.psnid %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>
